.cards-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 5px;
}

/* Optional hover effect */
.card:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.checklist-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1000;
  height: 600px;
  width: 600px;
}

.checklist-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  max-height: 300px;
  overflow-y: auto;
}

.checklist-list li {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.checklist-list li:hover {
  background-color: #e0e0e0;
}
