<div class="cards-container" *ngIf="listId">
  <div
    *ngFor="let card of cards"
    class="card"
    (click)="openChecklistModal(card.id)"
  >
    {{ card.name }}
    <button (click)="deleteCard(card.id)">Delete</button>
  </div>
</div>

<div *ngIf="isAddingCard" class="add-card-form">
  <input type="text" [(ngModel)]="newCardName" placeholder="New Card Name" />
  <button (click)="addCard()">Add</button>
  <button (click)="cancelAddingCard()">Cancel</button>
</div>
<button (click)="showCardForm()">Add Card</button>

<div *ngIf="isModalOpen" class="checklist-modal">
  <app-checklists
    [cardId]="selectedCardId"
    [checklists]="selectedCardChecklists"
  >
  </app-checklists>
  <button (click)="closeChecklistModal()">Close</button>
</div>
