<div class="modal">
  <div class="modal-content">
    <div class="checklist-container">
      <div *ngFor="let checklist of checklists" class="checklist">
        <h3>{{ checklist.name }}</h3>
        <button (click)="deleteCheckList(checklist.id)">Delete</button>
        <ul>
          <li *ngFor="let item of checklist.checkItems">
            <app-checklistitem
              [checkListId]="checklist.id"
              [checkItem]="item"
            ></app-checklistitem>
          </li>
        </ul>
      </div>
      <div class="add-checklist">
        <button (click)="showChecklistForm()">Add Checklist</button>
        <div *ngIf="isAddingChecklist" class="add-checklist-form">
          <input
            type="text"
            [(ngModel)]="newChecklistName"
            placeholder="New Checklist Name"
          />
          <button (click)="addChecklist(newChecklistName)">Add</button>
          <button (click)="cancelAddingChecklist()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
