<div class="checkitem">
  <label class="checkitem-label">
    <input
      type="checkbox"
      [(ngModel)]="checkItem.state"
      (change)="toggleCheckItem()"
    />
    {{ checkItem.name }}
  </label>
  <button class="delete-button" (click)="deleteCheckItem()">Delete</button>
</div>
