body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #026aa7;
  color: white;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  font-size: 16px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ff9900;
}

.navbar-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.boardCreation {
  margin: 0 auto;
  padding: 0 100px;
}
