.list {
  background-color: beige;
  width: 300px;
  border: 1px solid black;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.listContainer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-grow: 1;
}
.listHeading {
  justify-content: space-evenly;
}
button {
  height: 20px;
  margin-right: 4px;
}
h3 {
  padding: 0;
  height: 10px;
}
