<h2>Board Detail</h2>
<div class="lists-container">
  <div class="create-list-form">
    <input type="text" [(ngModel)]="newListName" placeholder="New List Name" />
    <button (click)="createList()">Create List</button>
  </div>
  <div class="listContainer">
    <div *ngFor="let list of boardList" class="list">
      <div class="listHeading">
        <h3>{{ list.name }}</h3>
        <button (click)="deleteList(list.id)">delete</button>
        <!-- <button (click)="addCard(list.id)">Add Card</button> -->
        <app-card [listId]="list.id" [cards]="cardsMap[list.id]"></app-card>
      </div>
    </div>
  </div>
</div>
