.boards {
  background-color: beige;
  height: 200px;
  width: 300px;
  border: 1px solid black;
  display: flexs;
  padding: 10px;
}

.boardContainer {
  display: flex;
  gap: 20px;
  padding: 10px;
}
