<div class="boardCreation">
  <h2>Create a New Board</h2>
  <form (ngSubmit)="createBoard()">
    <label for="boardName">Board Name:</label>
    <input
      type="text"
      id="boardName"
      name="boardName"
      required
      [(ngModel)]="newBoardName"
    />
    <button type="submit">Create</button>
  </form>
</div>
<h2>Boards</h2>
<div class="boardContainer">
  <div *ngFor="let board of boards" class="boards">
    <a [routerLink]="['/boards', board.id]">{{ board.name }}</a>
  </div>
</div>
